.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--p-surface-ground);

  &__body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__main {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
    background-color: var(--p-surface-ground);
  }
}
