.phases {
  padding: 1.5rem;

  &__title {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--p-text-color);
  }

  &__description {
    color: var(--p-text-muted-color);
  }
}
